*{
    cursor: pointer;
}
.mainSidebarContainer{
    flex: 0.7;
    background-color: #fffacd;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ulContainer{
    margin-top: 50px;
    
}
.liContainer{
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 7px;
}
h4{
    margin-left: 0%;
}
.menu{
    display: flex;
    align-items: center;
    font-weight: 600;
    padding-left: 20px;
}
.user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.sidebar-icons{
    height: 17px;
    width: 17px;
    margin-right: 0px;
}
.eventList{
    margin-top: 40px;
   
}
.eventHeading{
    padding-top: 12px;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding-left: 20px;
}
.eventCheckboxes{
    background-color: #f0f1f1d5;
    padding: 12px;
    border-radius: 0px;
    margin-top: 4px;
}
.buttons{
    margin-top: 30px;
    margin-left: 30px;
    
    
}
.upload-btn{
    height: 40px;
    width: 128px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color:hwb(216 2% 67% / 0.907) ;
    font-weight: 700;
    color: #ebecf6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.view-btn{
    height: 40px;
    width: 128px;
    margin-top: 10px;
    border-radius: 10px;
    border: #020a49 solid 2px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.4s;
}
.upload-btn:hover, .view-btn:hover{
    transform: all ease;
    background-color: #959fe6c6;
    border: none;
}